/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yantramanav";
  src: url("./../fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;
  --border-radius: 30px;
  --border: 1px solid var(--color-light);
  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;
  --input-height: 54px;
  --container-width: 1300px;
  --container-padding: 15px;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--color-dark);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0 26px;
  height: 38px;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  white-space: nowrap;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease-in;
}
.button:hover {
  background-color: var(--color-light-gray);
}
@media (max-width: 767px) {
  .button {
    padding: 0 20px;
  }
}
.button.transparent {
  position: relative;
  height: 54px;
  padding-left: 31px;
  padding-right: 80px;
  background-color: transparent;
  border: var(--border);
  font-size: 13px;
  color: var(--color-light);
  transition-duration: 0.3s;
}
.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url("./../images/icons/arrow-top-right.svg") center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
  transition-duration: 0.3s;
}
.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}
.button.transparent:hover::after {
  border-color: var(--color-dark);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}
.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url("./../images/icons/plus.svg") center/contain no-repeat;
}
.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.05em;
  left: -0.6em;
  font-size: 2.8em;
  font-family: var(--font-family-accent);
  color: transparent;
  -webkit-text-stroke: 1px var(--color-dark-gray);
  text-stroke: 1px var(--color-dark-gray);
}
.backdrop-title--centered::after {
  left: 50%;
  translate: -50% 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 32px;
  background-color: var(--color-dark-alternate);
}
@media (max-width: 1024px) {
  .header {
    padding: 0 15px;
    padding-top: 20px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
}

.header-logo {
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .header-menu {
    order: 1;
    flex-basis: 100%;
  }
}

.header-menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 767px) {
  .header-menu__list {
    gap: 20px;
  }
}

.header-menu__link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  height: 90px;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-light);
  transition: color 0.3s ease-in;
}
.header-menu__link.is-current::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 5px;
}
.header-menu__link:hover {
  color: var(--color-light-gray);
}
@media (max-width: 1024px) {
  .header-menu__link {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .header-menu__link {
    height: 32px;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 767px) {
  .header-actions {
    gap: 20px;
  }
}

.header-burger__button {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
  row-gap: 4px;
  width: 40px;
  height: 40px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  transition: color 0.3s ease-in, border-color 0.3s ease-in;
}
.header-burger__button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.header-burger__button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - 90px);
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}
@media (max-width: 1024px) {
  .banner {
    padding: 15px;
    row-gap: 15px;
  }
}

.banner-body {
  text-transform: uppercase;
}

.banner-info {
  display: flex;
  align-items: end;
  font-weight: 700;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 127%;
  text-transform: uppercase;
}
.banner-info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url("./../images/icons/arrow-down.svg") center/contain no-repeat;
}
@media (max-width: 767px) {
  .banner-info::before {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .banner-info {
    margin-bottom: 5px;
  }
}

.banner-title {
  font-weight: 700;
  font-size: min(18.75vw, 360px);
  line-height: 1;
  text-transform: uppercase;
}

.banner-pagination__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.banner-pagination__item {
  display: flex;
}

.banner-pagination__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  border: none;
}
.banner-pagination__button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transform-origin: 0.3s;
}
.banner-pagination__button.is-current::after {
  background-color: var(--color-light);
}

.banner-pagination__button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
}

.motivation__item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}
.motivation__item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .motivation__item:nth-child(even) .motivation-card {
    flex-direction: column-reverse;
  }
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: clamp(30px, 10.42vw, 200px);
       column-gap: clamp(30px, 10.42vw, 200px);
}
@media (max-width: 1024px) {
  .motivation-card {
    padding-block: 50px;
  }
}
@media (max-width: 767px) {
  .motivation-card {
    flex-direction: column-reverse;
    padding-block: 30px;
    row-gap: 20px;
  }
}

.motivation-card__img {
  margin: -60px 0;
}
@media (max-width: 1919px) {
  .motivation-card__img {
    margin: -20px 0;
  }
}
@media (max-width: 1024px) {
  .motivation-card__img {
    max-width: 30%;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .motivation-card__img {
    max-width: 50%;
  }
}

.motivation-card__body {
  padding-left: 35px;
}

.motivation-card__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 130%;
  text-transform: uppercase;
  color: var(--color-light);
}

.motivation-card__description {
  max-width: 400px;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
}
.motivation-card__description:not(:last-child) {
  margin-bottom: 37px;
}
@media (max-width: 767px) {
  .motivation-card__description:not(:last-child) {
    margin-bottom: 20px;
  }
}

.training-types {
  position: relative;
  z-index: 100;
  max-width: 1920px;
  margin: 0 auto;
  padding: 70px 15px 120px;
  background-color: var(--color-dark);
}

.training-types__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}
@media (max-width: 1280px) {
  .training-types__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .training-types__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.training-types__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding-top: 80px;
  background: url("./../../images/icons/arrow-left-down.svg") 100% 0%/80px no-repeat;
}
@media (max-width: 767px) {
  .training-types__item {
    row-gap: 22px;
    padding-top: 50px;
    background: url("./../../images/icons/arrow-left-down.svg") 100% 0%/50px no-repeat;
  }
}

.training-types__img {
  width: 150px;
  height: 140px;
}
@media (max-width: 767px) {
  .training-types__img {
    width: 120px;
    aspect-ratio: 1;
  }
}

.training-types__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.join-us-video-wrapper {
  position: relative;
  padding: 150px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./../images/join-us/bg.jpg") center/cover no-repeat var(--color-dark-alternate);
}
@media (max-width: 767px) {
  .join-us-video-wrapper {
    padding: 100px 30px;
  }
}

.join-us__video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 199px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-light);
  text-transform: uppercase;
}
.join-us-play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url("./../images/icons/arrow-top-right.svg") center/contain no-repeat;
}
@media (max-width: 767px) {
  .join-us-play-button {
    width: 140px;
  }
}
@media (max-width: 767px) {
  .join-us-play-button {
    width: 90px;
  }
}

.join-us-body {
  padding-bottom: 150px;
  background-color: #131619;
}
@media (max-width: 1024px) {
  .join-us-body {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .join-us-body {
    padding-bottom: 50px;
  }
}

.join-us__title {
  position: relative;
  margin-top: -0.5em;
  font-weight: 700;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}
.join-us__title::after {
  content: "";
  display: inline-block;
  height: 0.7em;
  margin-left: 0.14em;
  aspect-ratio: 1;
  background: url("./../images/icons/arrow-right-white-big.svg") center/contain no-repeat;
}
.join-us__title:not(:last-child) {
  margin-bottom: 130px;
}
@media (max-width: 1024px) {
  .join-us__title:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .join-us__title:not(:last-child) {
    margin-bottom: 40px;
  }
}

.join-us__form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  .join-us__form-header {
    margin-bottom: 30px;
  }
}

.join-us__form-title {
  font-weight: 700;
  font-size: clamp(24px, 3.12vw, 60px);
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.join-us__form-description p {
  font-weight: 300;
  font-size: 20px;
  line-height: 165%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}
@media (max-width: 767px) {
  .join-us__form-description p {
    font-size: 16px;
  }
}

.join-us__form-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .join-us__form-body {
    flex-direction: column;
  }
}

.input {
  width: 100%;
  height: 54px;
  padding-inline: 25px;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark-gray);
  color: var(--color-light);
  transition: border-color 0.3s ease-in;
}
.input::-moz-placeholder {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--color-light-gray);
}
.input::placeholder {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--color-light-gray);
}
.input:hover {
  border-color: var(--color-light);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.join-us__form-input {
  max-width: 400px;
}

.location {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--color-dark);
}
@media (max-width: 1024px) {
  .location {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.location-map-img {
  width: 100%;
}

.location-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 15px;
}
@media (max-width: 767px) {
  .location-body {
    padding: 40px 15px;
  }
}

.location__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 130%;
  text-transform: uppercase;
  color: var(--color-light);
}

.location__description {
  margin-bottom: 37px;
  max-width: 490px;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--color-light-gray);
}
@media (max-width: 767px) {
  .location__description {
    margin-bottom: 20px;
  }
}

.family {
  padding-top: 132px;
  background-color: #131619;
}
@media (max-width: 767px) {
  .family {
    padding-top: 70px;
  }
}

.family__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 62px;
}
@media (max-width: 767px) {
  .family__header {
    padding-bottom: 30px;
  }
}

.family__title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: clamp(20px, 3.12vw, 60px);
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.family__desciption p {
  font-weight: 300;
  font-size: 20px;
  line-height: 165%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  .family__desciption p {
    font-size: 16px;
  }
}

.family__body {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  gap: 26px;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
}
@media (max-width: 767px) {
  .family__body {
    gap: 15px;
  }
}

.family-img {
  scroll-snap-align: start;
}
@media (max-width: 1024px) {
  .family-img {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .family-img {
    height: 180px;
  }
}

.calculate {
  padding: 146px 0;
  background-color: var(--color-dark-alternate);
}
@media (max-width: 767px) {
  .calculate {
    padding: 70px 0;
  }
}

.calculate__inner {
  display: flex;
  align-items: center;
  gap: 36px;
}
@media (max-width: 1024px) {
  .calculate__inner {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .calculate__inner {
    flex-direction: column;
    gap: 30px;
  }
}

.calculate__body {
  flex-grow: 1;
  max-width: 627px;
}

.calculate__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 130%;
  text-transform: uppercase;
  color: var(--color-light);
}

.calculate__description {
  margin-bottom: 31px;
  max-width: 390px;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: var(--color-light-gray);
}

.calculate__form-body {
  margin-bottom: 26px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}
@media (max-width: 1024px) {
  .calculate__form-body {
    grid-template-columns: 1fr;
  }
}

.calculate__input.wide {
  grid-column: -1/1;
}

select.input:invalid {
  color: var(--color-light-gray);
}

@media (max-width: 1024px) {
  .calculate__form-btn {
    width: 100%;
  }
}

.calculate__table-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 610px;
  width: 100%;
}
.calculate__table-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--color-dark);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .calculate__table-wrapper::before {
    display: none;
  }
}

.calculate__table {
  position: relative;
  border-collapse: collapse;
}
.calculate__table :is(td, th) {
  padding-right: 30px;
}
.calculate__table :is(td, th):not(:first-child) {
  padding-left: 30px;
}
.calculate__table :is(td, th):not(:last-child) {
  border-right: 1px solid #707070;
}
.calculate__table tbody td {
  border-top: 1px solid #707070;
}
.calculate__table tbody tr:last-child td:first-child {
  position: relative;
}
.calculate__table tbody tr:last-child td:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 66%;
  height: 1px;
  background-color: #707070;
}
.calculate__table th {
  padding-block: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-light);
}
.calculate__table td {
  padding-block: 14px;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: var(--color-light-gray);
}
.calculate__table tfoot td {
  padding-top: 33px;
  padding-bottom: 1px;
  font-weight: 300;
  font-size: 14px;
  line-height: 156%;
  letter-spacing: 0.05em;
  color: var(--color-light);
}
.calculate__table tfoot td b {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 767px) {
  .calculate__table tfoot td {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .calculate__table :is(td, th) {
    padding-block: 10px;
  }
}

.footer__main {
  padding: 140px 0 160px;
  background-color: var(--color-dark);
}
@media (max-width: 1024px) {
  .footer__main {
    padding: 80px 0 50px;
  }
}
@media (max-width: 767px) {
  .footer__main {
    padding: 50px 0 40px;
  }
}

.footer__header {
  display: grid;
  grid-template-columns: 20.77% auto;
  -moz-column-gap: 62px;
       column-gap: 62px;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .footer__header {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .footer__header {
    margin-bottom: 30px;
  }
}

.footer-logo img {
  height: auto;
}

.footer__description {
  font-weight: 300;
  font-size: 20px;
  line-height: 165%;
  text-transform: uppercase;
  color: var(--color-light);
}
.footer__description a {
  font-weight: 300;
  font-size: 20px;
  line-height: 165%;
  text-transform: uppercase;
  color: var(--color-light);
}

.footer__body {
  display: grid;
  grid-template-columns: 20.77% repeat(3, 1fr);
  -moz-column-gap: 62px;
       column-gap: 62px;
}
@media (max-width: 1024px) {
  .footer__body {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .footer__body {
    grid-template-columns: 1fr;
  }
}

.footer__column-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 173%;
  text-transform: uppercase;
  color: var(--color-light);
}
.footer__column-title.has-arrow::after {
  content: "";
  display: inline-block;
  height: 0.74em;
  margin-left: 0.5em;
  aspect-ratio: 1;
  background: url("./../images/icons/arrow-right-white-big.svg") center/contain no-repeat;
  scale: -1 -1;
}

.footer__about {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: var(--color-light);
}
@media (max-width: 767px) {
  .footer__about {
    max-width: 310px;
    width: 100%;
  }
}

.footer__schedule {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: var(--color-light);
}
.footer__schedule:not(:last-child) {
  margin-bottom: 15px;
}

.footer__address {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: var(--color-light);
}

.footer__contacts-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: var(--color-light);
}
.footer__contacts-link:not(:last-child) {
  margin-bottom: 4px;
}

.footer__subscribe {
  position: relative;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .footer__subscribe {
    max-width: 310px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer__subscribe-input {
  padding-right: 70px;
}

.footer__subscribe-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url("./../images/icons/arrow-top-right.svg") center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
  transition: transform 0.5s ease-in;
}
.footer__subscribe-btn:hover {
  transform: rotate(90deg);
}

.footer__soc1als-list {
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer__soc1als-link {
  display: flex;
  width: 23px;
  transition: transform 0.3s ease-in;
}
.footer__soc1als-link svg {
  stroke: var(--color-light);
}
.footer__soc1als-link svg path {
  fill: var(--color-light);
}
.footer__soc1als-link:hover {
  transform: translateY(-2px);
}

.footer__extra {
  padding: 16px 0;
  background-color: var(--color-dark-alternate);
}

.footer__copyright p {
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;
  color: var(--color-light);
}
.footer__copyright a {
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;
  color: var(--color-light);
}/*# sourceMappingURL=main.css.map */