.motivation__item {
  &:nth-child(even) {
    background-color: var(--color-dark-alternate);

    .motivation-card {
      flex-direction: row-reverse;

      @media (max-width: 767px) {
        flex-direction: column-reverse;
      }
    }
  }
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);

  @media (max-width: 1024px) {
    padding-block: 50px;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    padding-block: 30px;
    row-gap: 20px;
  }
}

.motivation-card__img {
  margin: -60px 0;

  @media (max-width: 1919px) {
    margin: -20px 0;
  }

  @media (max-width: 1024px) {
    max-width: 30%;
    margin: 0;
  }

  @media (max-width: 767px) {
    max-width: 50%;
  }
}

.motivation-card__body {
  padding-left: 35px;
}

.motivation-card__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 130%;
  text-transform: uppercase;
  color: var(--color-light);
}

.backdrop-title {
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: calc(100% + 8px);
    width: 26px;
    aspect-ratio: 1;
    background: url("./../images/icons/plus.svg") center/contain no-repeat;
  }

  &::after {
    content: attr(data-title);
    position: absolute;
    z-index: -1;
    top: -0.05em;
    left: -0.6em;
    font-size: 2.8em;
    font-family: var(--font-family-accent);
    color: transparent;
    -webkit-text-stroke: 1px var(--color-dark-gray);
    text-stroke: 1px var(--color-dark-gray);
  }
}

.motivation-card__description {
  max-width: 400px;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;

  &:not(:last-child) {
    margin-bottom: 37px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}
